body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, p {
  text-align: center;
  margin-bottom: 0;
}

h2, h2 a:link, h2 a:visited {
  color: #666666;
}

h1 {
  font-weight: bold;
}

#resume {
  display: block;
  margin: 0 auto;
  width: 900px;
}
#resume img {
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
}
body a:link, body a:visited {
  color: inherit;
}
body a:hover, body a:active {
  color: #2079c7;
  font-weight: bold;
}

#projects {
  margin: 30px auto;
  width: 600px;
  text-align: center;
}

hr {
  clear: both;
  margin: 15px 0;
}

.project {
  overflow: hidden;
}
.project img {
  width: 49%;
  display: block;
  margin: 0;
}
.project p {
  width: 49%;
  text-align: right;
  margin: 0 2% auto 0;
  padding: 0;
  float: left;
}
.project .title {
  font-size: 14pt;
  font-weight: bold;
}
