html {
  height: 100%;
  background-color: #f8f8f8;
  color: #37364e;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

#container {
  width: 100%;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#container > div {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerbox {
  padding: 2rem;
  max-width: 400px;
}

.innerbox > div {
  margin-top: 1.25rem;
  padding-bottom: .25rem;
  line-height: 1.6;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
}

h2 {
  margin: 0;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none !important;
  /* transition: text-decoration .25s, margin .25s; */
  white-space: nowrap;
  display: inline-block;
}

a .underline {
  border-color: #37364e;
  content: '';
  height: 0;
  border-top: 2px dotted;
  margin-bottom: -2px;
  display: block;
  height: .125rem;
}

a:hover {
  background-color: #efeffb;
  transition: background-color .25s;
}

a:hover .underline {
  width: 100%;
}

b {
  font-weight: 600;
}

#acting {
  max-height: 0; 
  overflow: hidden;
}

#acting.open {
  max-height: 1000px;
  transition: max-height .75s ease-in;
}

#acting > div {
  margin-bottom: .25rem;
}

/* mobile view */
@media all and (max-width: 900px) {
  #container {
    flex-direction: column;
  }
  .innerbox {
    width: 100%;
  }
  .vertpad {
    display: none;
  }
  a {
    white-space: normal;
  }
  a:hover {
    margin: 0;
  }
}