html {
	background: url("images/another mountain.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #0B0E1B;
}
body {
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
    margin:5% auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#FFF;
    padding:0px
}
h1,h2,h3 {
	font-weight: 400;
	line-height:1.2
}

/* Navigation bar */
div#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div#nav li a{
	display: inline-block;
	padding: 0px 16px;
	text-decoration: none;
}
div#nav li {
    display: inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFF;
    margin: 1em 0;
    padding: 0;
}
/* unvisited link */
a:link {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: white;
    font-weight: 500;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: hotpink;
    text-decoration: underline;
}
