body, html {
  height: 100%;
  margin: 0;
}

.parallax-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px red solid;
}

#mountain {
  display: block;
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  width: 40%;
}
